-
  let root        = "html"
  let homeUrl     = "./"
  let version     = "0.0.1"

  let shortName   = "html"
  let brandName   = "HTML"
  let name        = "HTML Web Template"
  let url         = "https://github.com/techie-joe/html"

  let title       = "(untitled)"
  let description = "(undescribed)"

  let author      = "Techie Joe"
  let publisher   = "Tidloo.com"

  let og_title    = title
  let og_type     = "website"
  let og_url      = ""
  let og_image    = ""
  let og_imageAlt = ""

  let thisYear    = new Date().getFullYear()
  let year        = thisYear

  let lang        = "en" // en or en-US following the BCP 47 language tag standard
  let charset     = "utf-8"
  let colorScheme = "light dark"
  let themeColor  = "#222"

  let pageWidth   = "960px"