-
  shortName      = "html"
  brandName      = "HTML"
  name           = "HTML Web Template"

  title          = "(untitled)"
  description    = "(undescribed)"
  author         = "Techie Joe"

  url            = "https://github.com/techie-joe/html"

  publisher      = "Tidloo.com"

  og_title       = title
  og_description = description
  og_type        = "website"
  og_url         = url+"?utm_source=homescreen"
  og_image       = ""
  og_imageAlt    = ""

  lang           = "en" // en or en-US following the BCP 47 language tag standard
  charset        = "utf-8"
  colorScheme    = "light dark"
  themeColor     = "#222"