extends ../_templates/demo

block append vars
  include _demo-vars
  -
    header      = `Colors`
    title       = `${header} | ${name}`
    description = `These color page are made for your reference.`
    url         = url+`/texts.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    #_header { max-width:960px }
    #_header,
    #_main { margin:0 auto; padding:0 1rem; }

    .cg {
      margin:0 auto;
      height: 250px;
      background:
      linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    }

    .bg0 {
      height:10px;
      background:
      linear-gradient(to right, #000000, #ffffff);
    }

    .bg1 {
      height:100%;
      background:
      linear-gradient(to bottom, #000000ff, #00000000);
    }

    .bg2 {
      height:100%;
      background:
      linear-gradient(to top, #ffffffff, #ffffff00);
    }

    .line { border-top:1px solid #808080 }

    .gridlines {
      height:100%;
      padding-bottom: 1px;
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23ddd" stroke-width="1" /></svg>');
      background-repeat: repeat;
      background-position: 1px 1px;
    }
    ._dark 
    .gridlines {
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><rect width="9" height="9" fill="none" stroke="none" /><line x1="10" y1="0" x2="10" y2="10" stroke="%23222" stroke-width="1" /><line x1="0" y1="10" x2="10" y2="10" stroke="%23222" stroke-width="1" /></svg>');
    }

  //- 

block main

  main#_main
    article
      section
        h2._h5._text-center Sample Theme
        .g._mv._bg-1._radius

          .u-1-4: p._mh-2
            span(style="font-size:3em")._impact #[span._fg-1 GiI]#[span._fg-2 9il]

          .u-1-2._text-justify
            p Hyperlink uses typical color for #[+a("#"+Math.random()) normal] and #[+a("") visited] link or you can #[code._code _remove-color] to #[+a("")._remove-color blend a link]. You can also apply color to normal text, like #[span._blue blue], #[span._purple purple] and #[span._red red].

          .u-1-4

        .g._mv
            
            .u-1-2: ._text-justify._mh
 
              h3._h6._fg-2 Lorem ipsum dolor
              p Sit amet, consectetur adipiscing elit. Praesent vehicula, justo vitae bibendum vestibulum, lacus elit luctus dolor, a aliquam massa elit at purus. Mauris vel magna et felis pharetra pretium. Donec bibendum scelerisque metus, in tincidunt eros. Nullam vehicula arcu vitae ligula sollicitudin, sit amet viverra sapien consectetur.

              h3._h6 Curabitur auctor
              p Nunc nec sem pellentesque, ut facilisis justo dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae ac turpis egestas.
              
            .u-1-2: ._text-justify._mh
 
              h3._h6 Curabitur auctor
              p Nunc nec sem pellentesque, ut facilisis justo dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              
              h3._h6._fg-2 Proin scelerisque
              p Lacus at sollicitudin sagittis, nunc eros cursus nulla, a venenatis nulla sapien non velit. Integer condimentum, odio nec tristique malesuada, metus ligula laoreet lorem, ut malesuada lectus sapien in lacus morbi tristique senectus et netus et fames.

        .g._mv._bg-2

          ._mh._mv
            ._impact # # # # #


      section._mt-2
        h2._h5._text-center Color table
        .bg0: .gridlines
        div(style="height:1rem")
        .cg: .bg1: .gridlines
        .line
        .cg: .bg2: .gridlines

    p: hr

    footer#_footer
      p._text-centerx &copy; Copyright