extends ../_templates/html

block append vars
  include _demo-vars
  -
    template    = 'full-grid'
    title       = `HTML ${template}`
    description = `HTML ${template} helps you create an impressive gallery to showcase your collection.`
    url         = url+`/${template}.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  +css(homeUrl+'assets/css/demo.css?v='+version)
  style.
    #_html article .header{ text-align:center; margin:1em; }
  //- 

block nav
  include _editorbar

block main
  main#_main
    article
      .header
        h1.h2 Create a Full Grid Gallery
        p Showcase your collection to evoke emotion and inspire awe.
      //- 
      a#1
      .g
        .u-1
          .gu: .o.o1-1
      //-
      a#2
      .g
        .u-1-2
          .gu: .o.o2-2
        .u-1-2
          .gu: .o.o1-2
          .gu: .o.o1-2
      //-
      a#3
      .g
        .u-1-3
          .gu: .o.o3-3
        .u-1-3
          .gu: .o.o2-3
          .gu: .o.o1-3
        .u-1-3
          .gu: .o.o1-3
          .gu: .o.o2-3
      //-
      a#4
      .g
        .u-1-4
          .gu: .o.o4-4
        .u-1-4
          .gu: .o.o3-4
          .gu: .o.o1-4
        .u-1-4
          .gu: .o.o2-4
          .gu: .o.o2-4
        .u-1-4
          .gu: .o.o1-4
          .gu: .o.o2-4
          .gu: .o.o1-4
      //-

    p: hr

    footer#_footer
      ._text-center &copy; Copyright