extends ../_templates/html

block append vars
  include _demo-vars
  -
    title       = `${name}`
    header      = `${name}`
    description = `Build your website on a strong foundation. Our build-from-minimum approach ensures complete control right from the start.`

    og_title       = title
    og_description = description
  //- 

block append style
  +css(homeUrl+'assets/css/demo.css?v='+version)
  //- 
    /*
      | |
    01234567
    fedcba98
      | |
    */
  style.
    #_main {  margin-top:0; }
    #_html .pages    { margin:1.5em 0 3em 0; }
    #_html .pages li { margin:.5em; }
    #_html .pages  a { text-decoration:none; padding:0.2em 0.3em; border-radius:5px; cursor:pointer; white-space: nowrap }
    #_html .pages .a { padding:0.2em 0.3em; font-weight:bold; }

    #_html       .pages a       { color:inherit; }
    #_html       .pages a:hover { background:#bbb; color:#000; }
    #_html._dark .pages a:hover { background:#444; color:#fff; }

    #_header    { background: #181818; color: #aaa; position:relative; padding:3em 4em; margin-bottom:2em; }
    #_header h1 { color: #fff; max-width:13.5em; }
    #_header .p { max-width: 500px; }
    #_html .startNow ._btnlink:hover { background:#777;color:#fff; }

    #_html .layout { margin:2em 4em; }

    @media only screen and (max-width: 499px) {
      #_main { margin:0; }
      #_html .layout { margin:2em 1em; }
      #_header { padding:3em 1em; margin:0; }
      #_html .pages ul {
        list-style-type: none;
        padding-inline-start: 0;
      }
    }

    @media only screen and (min-width: 600px) {
      #_html .startNow {
        display:block;
        float:right;
        text-align:right;
        width:120px;
        height:109px;
        padding:2em 3em;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
      }
    }
  //-

block nav

block main
  main#_main

    header#_header
      .p
        h1 #{header}
        p #{description}
      .startNow
        +a("blank-canvas.html")#startNow._btnlink| Start Now
    //- 

    article.layout

      h2 Quick start templates

      nav.pages: .g
        .u-1-2
          ul
            +la('blank-canvas.html')| Blank Canvas
            +la('full-screen.html')| Full Screen
            +la('split-screen.html')| Split Screen
        .u-1-2
          ul
            +la('full-grid.html')| Full Grid
            +la('classic-page.html')| Classic Page
            +la('classic-list.html')| Classic List
        .u-1
          ul: li
            span.a Error pages :
            +a("---","Simulate Real 404")| ---
            +a("404.html")| 404
            +a("500.html")| 500
            +a("503.html")| 503

      h2 Easy website creation with intuitive building blocks
      
      p Our website builder comes with #[b built-in building blocks], making it intuitively easy to create your website. No lengthy manual or confusing rules -- just dive in and start building. And for those who are curious or need a bit more guidance, we have comprehensive demo articles to help you out.

      nav.pages
        +_a("views.html")| Views
        +_a("grid.html")| Grid
        +_a("containers.html")| Containers
        +_a("mods.html")| Modifiers
        +_a("texts.html")| Texts
        +_a("colors.html")| Colors
        +_a("image.html")| Image
        +_a("icons.html")| Icons
        +_a("videos.html")| Videos
        +_a("buttons.html")| Buttons
        +_a("background.html")| Background
        +_a("form.html")| Form
        +_a("animations.html")| Animations
        +_a("menu.html")| Menu
        +_a("popups.html")| Popups
        +_a("dialogs.html")| Dialogs

    p: hr
    footer#_footer
      .layout| &copy; Copyright
