extends ../_templates/text

block main
  .
    Copyright (c) #{thisYear} #{publisher}

    LICENSE AGREEMENT for #{name}

    This software  and  its  content  are  the  exclusive property of the owner.
    By  using  this  software, you agree to abide by the terms and conditions of
    this License Agreement.

    Permission is granted to users to use the content as explicitly permitted by
    this software.  Any attempt to access, use, or modify any content other than
    what is permitted, is strictly forbidden.   Users must not reverse-engineer,
    decompile, or disassemble this software or any part thereof.    Unauthorized
    copying, distribution, modification, or use of this software and its content
    is strictly prohibited.

    The above copyright notice  and  this License Agreement shall be included in
    all copies or substantial portions of the software.   You are not allowed to
    remove attribution links and  copyright notices present within the software.

    THE SOFTWARE IS PROVIDED  "AS IS",  WITHOUT  WARRANTY  OF ANY  KIND, EXPRESS
    OR IMPLIED, INCLUDING BUT NOT LIMITED TO  THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS  BE LIABLE  FOR  ANY CLAIM,  DAMAGES  OR  OTHER
    LIABILITY,  WHETHER IN AN ACTION  OF  CONTRACT, TORT  OR  OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
    IN THE SOFTWARE.