extends ../_templates/html

block append vars
  include _demo-vars
  -
    template    = 'split-screen'
    title       = `HTML ${template}`
    description = `HTML ${template} helps create your next homepage.`
    url         = url+`/${template}.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  +css(homeUrl+'assets/css/demo.css?v='+version)
  style.

    #_html .hero2 { margin:2em auto; max-width:640px; }

    @media only screen and (max-width: 499px) {
      #_html .hero2 { margin:2em 1em; }
    }

  //- 

block nav
  include _editorbar

block main
  main#_main
    article
      .g
        .u-1-2
          .gu: .o.o4-4
        .u-1-2
          .gu: .o.o4-4
      //- 

      .hero2._text-center 
        h2.h2 Featured Contents and Success Stories
        p Show the incredible accomplishments that are shaping your world today.

      .g
        .u-2-3
          .gu: .o.o3-3
        .u-1-3
          .gu: .o.o1-3
          .gu: .o.o1-3
          .gu: .o.o1-3
      //-

      .hero2._text-center 
        h2.h2 Multiple variation to choose from
        p Mix and match split-screen variations while maintaining user's read-flow.

      .g
        .u-1-3
          .gu: .o.o1-3
          .gu: .o.o1-3
          .gu: .o.o1-3
        .u-2-3
          .gu: .o.o3-3
      //-

    //- 

    p: hr

    footer#_footer
      ._text-center &copy; Copyright