extends ../_templates/demo

block append vars
  include _demo-vars
  -
    header      = `Texts`
    title       = `${header} | ${name}`
    description = `Text sizes and spacing has been carefully taken care of.`
    url         = url+`/texts.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    .gridlines {
      min-height: 100px;
      padding-bottom: 1px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1px" height="10px"><rect width="1px" height="0.75px" fill="%23A9790655" /></svg>');
      background-repeat: repeat;
    }
    #_header { max-width:960px }
    #_header,
    #_main { margin:0 auto; padding:0 1rem; }
    .demo .u { margin: 0 2px; }

    .io  { background:#88888844; padding:0 2px; }

  //- 

block main

  mixin rag(x)
    - var n = 0
    while n < x
      - n++
      if(n%2==0)
        span.io &nbsp;
      else
        span.io Hg#[sup._sup 2]
      br

  main#_main
    .gridlinesx
      section
        p._hero Superhero text
        h1._h1 Heading example #1
        h2._h2 Heading example #2
        h3._h3 Heading example #3
        h4._h4 Heading example #4
        h5._h5 Heading example #5
        h6._h6 Heading example #6
        b  Heading example #7
    hr(style="margin:1rem auto")
    .gridlines
      .g.demo
        .u._text-7: +rag(14)
        .u._text-6: +rag(11)
        .u._text-5: +rag(9)
        .u._text-4: +rag(7)
        .u._text-3: +rag(6)
        .u._text-2: +rag(5)
        .u._text-1: +rag(4)

    p: hr

    footer#_footer
      p._text-centerx &copy; Copyright