/*
  |  |
01234567
fedcba98
  |  |
*/

$theme-color       : #222;

$light-background  : #ddd;
$light-foreground  : #555;
$light-color-1     : #222;

$dark-background   : #222;
$dark-foreground   : #aaa;
$dark-color-1      : #ddd;

$light-button-bg-1 : #bbb;
$light-button-fg-1 : #222;

$light-button-bg-2 : #ccc;
$light-button-fg-2 : #333;

$dark-button-bg-1  : #444;
$dark-button-fg-1  : #ddd;

$dark-button-bg-2  : #333;
$dark-button-fg-2  : #ccc;

// $link-color         : #0044cc;
// $link-color-visited : #800080;
// $link-color-hover   : #ff6600;
// $link-color-active  : #cc0000;

$light-link-color         : #0044cc;
$light-link-color-visited : #800080;

$dark-link-color         : #4986ff;
$dark-link-color-visited : #c249ff;