/*
  |  |
01234567
fedcba98
  |  |
*/

$theme-color       : #222;

$light-background  : #ddd;
$light-foreground  : #555;
$light-color-1     : #222;

$dark-background   : #222;
$dark-foreground   : #aaa;
$dark-color-1      : #ddd;

$light-button-bg-1 : #bbb;
$light-button-fg-1 : #222;

$light-button-bg-2 : #ccc;
$light-button-fg-2 : #333;

$dark-button-bg-1  : #444;
$dark-button-fg-1  : #ddd;

$dark-button-bg-2  : #333;
$dark-button-fg-2  : #ccc;

// $link-color         : #04c;
// $link-color-visited : #929;
// $link-color-hover   : #f80;
// $link-color-active  : #b00;

$light-link-color         : #04d;
$light-link-color-visited : #929;
$light-link-color-hover   : #d60;
$light-link-color-active  : #d22;

$dark-link-color         : #48f;
$dark-link-color-visited : #d4d;
$dark-link-color-hover   : #e93;
$dark-link-color-active  : #f33;

._blue   { color: $light-link-color }
._purple { color: $light-link-color-visited }
._red    { color: $light-link-color-active }

._fg-1   { color: $light-color-1 }
._fg-2   { color: $light-link-color-active }

._bg-1 { background:#eee }
._bg-2 { background:#ccc }

._dark {

  ._blue   { color: $dark-link-color }
  ._purple { color: $dark-link-color-visited }
  ._red    { color: $dark-link-color-active }

  ._fg-1   { color: $dark-color-1 }
  ._fg-2   { color: $dark-link-color-active }

  ._bg-1 { background:#2d2d2d; }
  ._bg-2 { background:#181818; }
}