/*! Techie Joe's Base v0.1.0 | Copyright 2024 Techie Joe | https://github.com/techie-joe/base */

@use "functions";
@use "mixins" as mix;
@use "colors" as *;
@use "_html5.css";

/* ------------------------------------------------- base */

* { line-height: 1.2; margin: 0; }

h1,h2,h3,h4,h5,h6,
ul,ol,
p,pre { margin-top: 1em; margin-bottom: 1em; }

li { margin: .3em 0; }

hr {
  border: 1px solid #aaa;
  border-bottom-color: #fff;
}
._dark hr {
  border: 1px solid #000;
  border-bottom-color: #444;
}

#_html,
#_body { /* doc */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  font-size:1.021rem;
  @include mix.text-size-adjust(100%);
}

/* ---------------------------------- default light theme */

#_html {
  color: $light-foreground;
  background-color: $light-background;
  h1,h2,h3,h4,h5,h6 { color: $light-color-1; }
}

._a a {
  & {
    transition: color 0.5s, background-color 0.5s;
    color: $light-link-color;
  }
  &:hover { transition:none; }
  &:visited { color: $light-link-color-visited; }
}

a._btnlink {
  &,&:visited,&:active { color: inherit; }
  &:hover {
    color: $light-button-fg-1;
    background-color: $light-button-bg-1;
  }
}

/* ------------------------------------------- dark theme */

._dark {

  &#_html {
    color: $dark-foreground;
    background-color: $dark-background;
    h1,h2,h3,h4,h5,h6 { color: $dark-color-1; }
  }
  &._a a {
    & { color: $dark-link-color; }
    &:visited { color: $dark-link-color-visited; }
  }
  
  a._btnlink {
    &,&:visited,&:active { color: inherit; }
    &:hover {
      color: $dark-button-fg-1;
      background-color: $dark-button-bg-1;
    }
  }
  
}

/* ----------------------------------------------- helper */

._numb { @include mix.numb; }

#_html ._btnlink {
  @extend ._numb;
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
  border-radius: .25em;
  border: 1px solid #888;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

._sans   { font-family: Arial, sans-serif; }
._impact { font-family: Impact; }
._mono   { font-family: "Courier New", Courier, monospace; }

._inblock { display: inline-block }

._fixed    { position: fixed }
._absolute { position: absolute }
._relative { position: relative }

._text-left    { text-align: left }
._text-center  { text-align: center }
._text-right   { text-align: right }
._text-justify { text-align: justify }

._indent   { text-indent: 2em }

._remove-color { color: inherit !important }

a._no-u,
u._no-u { text-decoration: none !important }

._no-b { font-weight: normal !important }

._hide { display: none !important; }
