@use "colors" as *;

._editorbar {
  p {
    margin:0;
    font-size:.75em;
    padding:.75em;
    background:#111;
    color:#888;
  }
}

#_html ._editorbar {

  ._btnlink {
    padding: .25em .75em;
  }

}